

<div class="text-center">
    
    <h1 class="display-4"> Soy Freddy De La Cruz </h1>
    <h2>Soy un Ing. Textil e Industrial con conocimiento en tecnologias .NET  </h2>

    <img id="foto"
         src="~/imagenes/foto5.png" alt="Foto de Freddy" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/Imagenes/dotnet-imagen-2.png" alt="dotnet logo" />

</div>

<div class="row justify-content-center text-center bg-primary ">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la Bienvenida a mi portafolio </h1>
        <p>
            Profesional de carrera en Ingenieria , actualmente me encuentro desarrollando proyectos en ASP.Net con lenguaje de programacion Python y C#
            para la mejora de procesos automatizados en peque;as empresas.

        </p>
    </div>
</div>