
@{
    ViewData["Title"] = "Gracias";

}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te contestare el mensaje lo mas pronto posible</p>
<div><a asp-action = "index" asp-controller="Home">Volver al Home</a></div>