@model Persona

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> @Model.Nombre (@Model.Edad) </h1>
    <h2>Soy un Ing. Textil e Industrial con conocimiento en tecnologias .NET  </h2>

    <img
    id="foto"
    src="~/imagenes/foto5.png" alt="Foto de Freddy"/>
</div>
