@model IEnumerable<Proyecto>;
@{
    ViewData["Title"] = "Proyectos";

}

<div class = "container">
<h1>MIs proyectos </h1>
<p>Aqui Encontraras todos los proyectos que he trabajado</p>

</div>

<partial name="_ListadoProyectos" model="Model" />